name: Publish NPM Package on Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@thestaticmage'

      - name: Get version from package.json
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
        with:
          path: packages/client

      - name: Display package version
        run: |
          PACKAGE_VERSION="v${{ steps.package-version.outputs.current-version }}"
          echo "Package version: $PACKAGE_VERSION"

      - name: Build client package
        run: |
          cd packages/client
          npm install
          npm run build

      - name: Publish to GitHub Packages
        run: |
          cd packages/client
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
